[submodule "Hazel/depencies/spdlog"]
	path = Hazel/depencies/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Hazel/depencies/GLFW"]
	path = Hazel/depencies/GLFW
	url = ../../TheCherno/glfw.git
	branch = master
[submodule "Hazel/depencies/imgui"]
	path = Hazel/depencies/imgui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "Hazel/depencies/glm"]
	path = Hazel/depencies/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Hazel/depencies/yaml-cpp"]
	path = Hazel/depencies/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Hazel/depencies/ImGuizmo"]
	path = Hazel/depencies/ImGuizmo
	url = https://github.com/thecherno/imguizmo
